.navigation {
  &._block {
    background-color: #1976D2;
    height: 60px;
  }
  &._content {
    margin: 0 auto;
    max-width: 1280px;
    height: 50px;
    padding: 0px 15px 0 15px;
    display: flex;
    justify-content: space-between;
  }
  &._toggle-nav-left {
    display: none;
    @media (max-width: 767px) {
      display: block;
    }
    .mdi-menu {
      font-size: 32px;
      line-height: 55px;
      color: #FFF;
    }
  }
  &._logo {
    width: 100%;
    line-height: 50px;
    display: inline-block;
    text-align: center;
  }
  &._logo-image {
    height: 40px;
    outline: 0;
    padding-top: 5px;
  }
  &._user {
    flex-shrink: 0;
    line-height: 50px;
  }
  &._profile-image {
    width: 30px;
    outline: 0;
    border-radius: 50%;
    padding-top: 10px;
  }
}